<!-- Main navigation -->
<header>

    <!-- Full Page Intro -->
    <div id="login" class="view">
        <!-- Mask & flexbox options-->
        <div class="mask">
            <!-- Content -->
            <div class="container h-100">
                <!--Section: Content-->
                <section class="p-5 my-md-5 text-center">

                    <form class="my-3 mx-md-5" action="">

                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <!-- Material form login -->
                                <div class="card">

                                    <!--Card content-->
                                    <div class="card-body">

                                        <!-- Form -->
                                        <form class="text-center" style="color: #757575;" action="#!" (keydown)="keyDownFunction($event, userName.value, userPassword.value)">

                                            <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Log In</h3>

                                            <!-- userName -->
                                            <input #userName type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Email" required>

                                            <!-- userPassword -->
                                            <input #userPassword type="password" id="defaultSubscriptionFormEmail" class="form-control" placeholder="Password" required>

                                            <br/>
                                            <div class="d-flex justify-content-around">
                                                <div>
                                                    <!-- Remember me -->
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <!-- Forgot password -->
                                                    <a routerLink="/forgot-password">Forgot password?</a>
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <button type="button" (click)="authService.signIn(userName.value, userPassword.value)" class="btn btn-outline-orange btn-rounded my-4 waves-effect">Login</button>
                                            </div>

                                            <!-- Register -->
                                            <p>Not a member?
                                                <a routerLink="/register">Register</a>
                                            </p>

                                            <!-- Social login -->
                                            <p>or sign in with:</p>

                                            <a (click)="authService.googleSignin()" class="mx-1" role="button"><i class="fab fa-google"></i></a>
                                        </form>
                                        <!-- Form -->

                                    </div>

                                </div>
                                <!-- Material form login -->
                            </div>
                        </div>

                    </form>

                </section>
                <!--Section: Content-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->

</header>
<!-- Main navigation -->

<ngx-alerts></ngx-alerts>